<include file="Public:header"/>
<!--内容-->
  <script type="text/javascript" src="__ROOT__/Public/Admin/js/manhuaDate.js"></script>
<script charset="utf-8" src="__ROOT__/Public/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="__ROOT__/Public/kindeditor/lang/zh_CN.js"></script>
<script>
    /*     KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id');
        }); */
        KindEditor.options.filterMode = false;
        KindEditor.ready(function(K) {
            window.editor = K.create('#editors',{
            	themeType: 'simple',
            	resizeType: 1,
            	uploadJson: '__ROOT__/Public/kindeditor/php/upload_json.php',
            	fileManagerJson: '__ROOT__/Public/kindeditor/php/file_manager_json.php',
            	allowFileManager: true,
            	afterBlur: function(){this.sync();}
            });
    })
    $(function (){
     	$("input.mh_date").manhuaDate({					       
     		Event : "click",//可选				       
     		Left : 0,//弹出时间停靠的左边位置
     		Top : -16,//弹出时间停靠的顶部边位置
     		fuhao : "-",//日期连接符默认为-
     		isTime : false,//是否开启时间值默认为false
     		beginY : 2013,//年份的开始默认为1994
     		endY :2030,//年份的结束默认为2049
     	});
     	
     });
</script>

<div id="content">
	 <div class="main">
	 <form action="{:u('Xitong/save',array('id'=>$web['xitongid']))}" method="post" enctype="multipart/form-data">
     	  <dl>
          <dt><span>网站标题：</span><input name="webname" type="text" class="imgcontent srk" value="{$web['title']}" placeholder="文章名称必须添加！"></dt>
           <dt><span>seo关键字：</span><input name="webkey" type="text" class="imgcontent srk" value="{$web['keytitle']}" placeholder="文章名称必须添加！"></dt>
           <dt><span>网名：</span><input name="net" required="required" type="text" class="imgcontent srk" value="{$member['membername']}" ></dt>
           <dt><span>职业：</span><input name="job" required="required" type="text" class="imgcontent srk" value="{$member['memberjob']}" ></dt>
           <dt><span>电话：</span><input name="pone" required="required" type="text" class="imgcontent srk" value="{$member['memberpone']}" ></dt>
           <dt><span>email：</span><input name="email" required="required" type="text" class="imgcontent srk" value="{$member['memberemail']}"></dt>
           <dt><span>网站图标：</span>
           <input class="imgcontent srk" type="file" name="ieco">
           <if condition="$web['ico'] neq null"><br/><img alt="浏览器图标" src="__ROOT__/{$web['ico']}"></if>
			</dt>
		 <dt><span>网站logo：</span><input class="imgcontent srk" type="file" name="logo" />
		  <if condition="$web['logo'] neq null"><br/><img alt="浏览器图标" src="__ROOT__/{$web['logo']}"></if>
			
		 </dt>
          
          <dd><input name="" type="submit" class="an" value="保存发布"></dd>
          </dl>
     </form>
     </div>
</div>
<!--尾巴-->
<footer>上海魔方企业形象设计有限公司</footer>
<script>
$(function(){
	$('header .nav').click(function(){
		$('nav').slideToggle(0);
		$('#content, aside').toggleClass('margin'); 
  	});
})
</script>
</body>
</html>