<include file="Public:header"/>
<!--内容-->
  <script type="text/javascript" src="__ROOT__/Public/Admin/js/manhuaDate.js"></script>
<aside>
	 <ul>
	 	<li><a href="{:u('Column/lists')}" class="backgroundColorZi">返回栏目</a></li>
        <li><a href="{:u('Syzs/index')}" class="backgroundColorLan">返回课程</a></li>
     </ul>
</aside>
<script>

    $(function (){
     	$("input.mh_date").manhuaDate({					       
     		Event : "click",//可选				       
     		Left : 0,//弹出时间停靠的左边位置
     		Top : -16,//弹出时间停靠的顶部边位置
     		fuhao : "-",//日期连接符默认为-
     		isTime : false,//是否开启时间值默认为false
     		beginY : 2013,//年份的开始默认为1994
     		endY :2030,//年份的结束默认为2049
     	});
     	$("input.mh_time").manhuaDate({					       
     		Event : "click",//可选				       
     		Left : 0,//弹出时间停靠的左边位置
     		Top : -16,//弹出时间停靠的顶部边位置
     		fuhao : "-",//日期连接符默认为-
     		isTime : false,//是否开启时间值默认为false
     		beginY : 2013,//年份的开始默认为1994
     		endY :2030,//年份的结束默认为2049
     	});
     	
     });
</script>
<div id="content">
	 <div class="main">
	 <form action="{:u('Syzs/tjupkc',array('id'=>$syzs['zsid']))}" method="post" enctype="multipart/form-data">
     	  <dl>
          <dt><span>课程标题：</span><input name="newtt" type="text" value="{$syzs.zstt}" class="imgcontent srk" placeholder="文章名称必须添加！"></dt>
          <dt><span>报名开始时间：</span><input type="text" name="begindate" value="{$syzs.begintime}" class="mh_date srk" readonly="true" /></dt>
          <dt><span>报名结束时间：</span>
          		<input type="text" name="enddate" value="{$syzs.endtime}" class="mh_time srk" readonly="true" />
          </dt>
           <dt><span>课程设置：</span>
           <select name="bmkc">
           <volist name="duiid" id="kcsz">
           	<if condition="$syzs['zsurl'] eq $kcsz['columnid']"><option value="{$kcsz.columnid}" class="imgcontent srk" selected="selected">{$kcsz.columntt}</option></if>
           	<if condition="$syzs['zsurl'] neq $kcsz['columnid']"><option value="{$kcsz.columnid}" class="imgcontent srk">{$kcsz.columntt}</option></if>
           	</volist>
           </select>
			</dt>
          <dt><span>展示海报：</span><input class="imgcontent srk" type="file" name="imgfile" />
              <img src="__ROOT__{$syzs.zsimg}" height="30"/>
          </dt>
          <dt><span>内容：</span>
          			<textarea id="editors" name="content" style="width:78%;height:200px; border: 3px solid #aa9fff;">{$syzs.zscc}</textarea>
			</dt>
          <dd><input name="" type="submit" class="an" value="保存发布"></dd>
          </dl>
     </form>
     </div>
</div>
<!--尾巴-->
<footer>上海魔方企业形象设计有限公司</footer>
<script>
$(function(){
	$('header .nav').click(function(){
		$('nav').slideToggle(0);
		$('#content, aside').toggleClass('margin'); 
  	});
})
</script>
</body>
</html>