<include file="Public:header"/>
<aside>
	 <ul>
	 	<li><a href="{:u('Column/lists')}" class="backgroundColorZi">返回栏目</a></li>
        <li><a href="{:u('Shipin/thisadd',array('id'=>$currrt))}" class="backgroundColorLan">添加视频</a></li>
     </ul>
</aside>
<style type="text/css">
.mask{height:100%; width:100%; position:fixed; _position:absolute; top:0; z-index:1000; display: none; }
.opacity{ opacity:0.95; filter: alpha(opacity=95); background-color:#6dbbb9; } 
.tankuang{ margin: 0 auto;  background: none repeat scroll 0 0 #CDC9C9; width: 1000px; position: relative; top: 10%;}
.tankuang dl{ display: block; overflow: hidden;}
.tankuang dt{ float: left;  padding-bottom: 40px; margin-bottom:5px;} 
.tankuang dt span{ width:80px; text-align:right; height: 40px; display: block; line-height:40px; float: left; }
.tankuang dt input{ height: 40px; width: 240px; float: left;}
.tankuang dd{display: block; clear: both; padding-bottom: 10px;}
.tankuang dd textarea{ width: 800px; height: 60px;}
.tankuang p{overflow: hidden; display: block; padding-bottom: 10px;}
.tankuang p a{ display:block; margin: 0 auto;  width: 100px; height: 20px; background: #333333; text-align:center; color: #fff;}
.tankuang p input{display:block; margin: 0 auto;  width: 100px; height: 20px; background: #333333; text-align:center; color: #fff;}
</style>
<!--查看-->
<div id="tk" class="mask opacity">
  <div class="tankuang">
    <dl>
      <dt><span>视频图像：</span><img id="imguser" src="" height="140px" width="140px"></dt>
        <dt><span>视频标题：</span><input id="title" name="title" /> </dd>
        <dt><span>点赞人数：</span><input id="dianzan" name="dianzan" /></dt>
        <dt><span>访问人数：</span><input id="fangwen" name="fangwen" /></dd>
        <dt><span>发布公司名：</span><input id="gongshi" name="gongshi" /></dd>
        <dt><span>发布日期：</span><input id="date" name="date" /></dd>
    </dl>
    <p><a href="#" onclick="chaxun();">返回</a></p>
  </div>
</div>
<!--内容-->
<div id="content">
	 <div id="title"><a href="#">栏目</a><span>&gt;</span><a href="#">{$Think.session.vidiocoltt}</a></div>
     <div class="height_20"></div>
     <div id="searchBox">
     </div>
     <div class="newsList">
     	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
     	  
            <tr>
              <th width="60" class="none">#</th>
              <th align="left">视频标题</th>
              <th align="left">展示方式</th>
              <th align="left">浏览次数</th>
              <th align="left">赞人数</th>
              <th width="100" class="none">发布时间</th>
              <th width="160" align="center">操作</th>
            </tr>
            
            <volist name="shipinlist" id="vo">
            <tr>
              <td align="center" class="none">{$vo.vid}</td>
              <td><a href="#">{$vo.vidiott}</a></td>
              <td><a href="#"><if condition="$vo['tjid'] eq 2">推荐</if><if condition="$vo['tjid'] eq 1">无推荐</if></a></td>
              <td align="center" class="none">{$vo.vidioip}</td>
              <td align="center" class="none">{$vo.vidiozan}</td>
              <td align="center" class="none">{$vo.date}</td>
              
              <td>
                <a href="{:u('New/listpinlun',array('did'=>$vo["vid"]))}" title="查看评论">查看评论</a>
                <a href="#" onclick="chakan({$vo["vid"]});" title="查看详情">查看详情</a>
              	<a href="{:u('Shipin/update',array('id'=>$vo["vid"]))}" style="" title="编辑">编辑</a>
                <a href="{:u('Shipin/del',array('did'=>$vo["vid"]))}" title="删除">删除</a>
              </td>
            </tr>
            </volist>
          </table>
     </div>
     <div id="page">{$page}</div>
</div>
<!--尾巴-->
<footer>上海魔方企业形象设计有限公司</footer>
<script>
$(function(){
	$('header .nav').click(function(){
		$('nav').slideToggle(0);
		$('#content, aside').toggleClass('margin'); 
  	});
})
function chakan(id){
  $("#tk").css("display","block");
   $.ajax({
    type: "post",
        dataType: "json",
    url:"{:U('Shipin/chakanvidio')}",
        data:"id=" + id,
    success:function(msg){
    	
      $("#imguser").attr("src",msg.vidioimg);
      $("#title").val(msg.vidiott);
      $("#dianzan").val(msg.vidiozan);
      $("#fangwen").val(msg.vidioip);
      $("#date").val(msg.date);
      $("#gongshi").val(msg.vidiogs);
    }
  }); 
}
function chaxun(){$("#tk").css("display","none");}
</script>
</body>
</html>